:root {
    /* ## Colors */

    /* ### Primary */

    --Blue: hsl(223, 87%, 63%);

    /* ### Secondary */

    --Pale-Blue: hsl(223, 100%, 88%);
    --Light-Red: hsl(354, 100%, 66%);

    /* ### Neutral */

    --Gray: hsl(0, 0%, 59%);
    --Very-Dark-Blue: hsl(209, 33%, 12%);

    /* ## Typography */

    /* ### Body Copy */

    --Font-size: 20px;
}

body{
    margin: 0;
    padding: 0;

    font-family: "Libre Franklin", sans-serif;
    font-size: 20px;
}

.section{

}

.container{
    padding: 50px 20px;
}

/* HEADER  */

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header img{
    width: 50px;
}

.header h1{
    font-weight: 200;
    color: var(--Gray);
    font-size: 1.4rem;
    margin-bottom: 0;
    margin-top: 25px;
}

.header h1 span{
    font-weight: 800;
    color: var(--Very-Dark-Blue);
}

.header p{
    font-size: 0.8rem;
    margin-bottom: 35px;
}

.header .group{
    display: flex;
    flex-direction: column;
}

.header .form-control{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 70%; */
}

.header .form-control input{
    width: 230px;
    padding: 10px 20px;
    border-radius: 20px;
    outline: none;
    border: 1px solid var(--Pale-Blue);
    margin-bottom: 10px;
}

.change-border-input{
    border: 1px solid var(--Light-Red) !important;
}

::placeholder{
    color: var(--Gray);
}

.header .form-control span{
    display: none;
    font-size: 0.7rem;
    color: var(--Light-Red);
    margin-top: 0px;
    margin-bottom: 20px;
    font-style: italic;
}

.header .form-control .button-notify{
    width: 270px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--Blue);
    outline: none;
    border: none;
    border-radius: 20px;
    color: white;
    font-family: "Libre Franklin", sans-serif;
    font-size: 0.75rem;
    cursor: pointer;
    box-shadow: 0 2px 2px hsl(223, 87%, 63%);
}

.header .form-control .button-notify:hover{
    opacity: 0.8;
    transition: 0.2s;
}

/* BODY  */

.body{
    padding: 55px 0;
}

.body img{
    width: 100%;
}

/* FOOTERl */

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer .group{

}

.footer .group ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
}

.footer .group ul li{
    margin-right: 20px;
    border: 1px solid rgb(214, 212, 212);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.footer .group ul li i{
    color: var(--Blue);
}

.footer span{
    font-size: 0.75rem;
    color: var(--Gray);
}


@media only screen and (min-width:1000px) {
    
    .container{
        width: 800px;
        margin-left: auto;
        margin-right: auto;
    }

    .header .group{
        display: flex;
        flex-direction: row;
        column-gap: 20px;
    }
    .header img{
        width: 100px;
    }
    .header h1{
        font-size: 3rem;
    }

    .header p{
        font-size: 1rem;
    }

    .header .form-control{
        align-items: start;
    }

    .header .form-control input{
        width: 340px;
        font-size: 1rem;
        padding: 15px 20px;
        border-radius: 30px;
    }

    .header .form-control span{
        margin-left: 20px;
    }

    .header .form-control .button-notify{
        width: 150px;
        padding: 15px 25px;
        border-radius: 30px;
        font-size: 1rem;
    }

    .body{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .body img{
        width: 80%;
    }
}